 header {
     background: white;
     padding: 15px 20px;
     /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
 }

 nav {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px 10px;
 }

 nav ul {
     list-style: none;
     display: flex;
     gap: 50px;
 }

 nav ul li a {
     text-decoration: none;
     color: black;
     font-size: 16px;
 }


 .search-container {
     display: flex;
     align-items: center;
     gap: 10px;
     background-color: white;
     padding: 10px;
 }

 .location {
     display: flex;
     align-items: center;
     gap: 5px;
     background-color: #f7fafe;
     padding: 10px 15px;
     border-radius: 8px;
     border: none;
     cursor: pointer;
     color: #A1BCD6;
 }

 .search-box {
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 10px;
     border: 1px solid #e0e6ed;
     border-radius: 8px;
     flex: 1;
    color: #A1BCD6;
 }

 .search-box input {
     border: none;
     outline: none;
     width: 100%;
     font-size: 14px;
   
 }

 .search-btn {
     background-color: #24A4F8;
     color: white;
     border: none;
     padding: 10px 20px;
     border-radius: 8px;
     font-size: 14px;
     font-weight: bold;
     cursor: pointer;
 }

 .search-btn:hover {
     background-color: #24A4F8;
 }

.logo img{
position: relative;
    left: -100px;
}

nav ul :hover {
    color: #24A4F8;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 5px;
   
}

.dropdown i {
    font-size: 14px;
    transition: transform 0.3s ease;
}

.dropdown:hover i {
    transform: rotate(180deg);
   
}

.icons-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 100px;
}

.icons-container i {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icons-container i:hover {
    color: #24A4F8;
}

.lang {
    font-size: 14px;
    font-weight: bold;
    color: #667085;
}

.dropdown-icon::after {
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-left: 5px;
    font-size: 14px;
}

.shopping-icon {
    position: relative;
}

.badge {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: #24A4F8;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
}

.contact-section {
    text-align: center;
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
   
}

.breadcrumb {
    text-align: left;
    font-size: 14px;
    color: #A1BCD6;
    
}

.breadcrumb a {
    text-decoration: none;
    color: #A1BCD6;
}

.breadcrumb span {
   color: black;
}

.contact-title {
    color: #24A4F8;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.contact-text {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.contact-section .breadcrumb{
    gap: 10px;
  font-weight: bold;
  width: 300px;
  font-size: 20px;
  margin-left: -200px;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
}

.input-box {
    width: 100%;
    margin-bottom: 15px;
}

.input-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.input-field {
    display: flex;
    align-items: center;
    background: #f5f9fc;
    padding: 10px;
    border-radius: 5px;
}

.input-field i {
    margin-right: 10px;
    color:#A1BCD6;
}


.input-field input,
.input-field textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
}

.textarea {
    align-items: flex-start;
}

.input-field textarea {
    height: 80px;
    resize: none;
}

.submit-btn {
    width: 100%;
    background: #24A4F8;
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #24A4F8;
}

.contact-options {
    padding: 40px 20px;
}

.contact-options h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.contact-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.contact-card {
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    background: white;
}

.contact-card:hover {
  border: 2px solid #24A4F8;
}

.contact-card i {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.contact-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-card p {
    color: #555;
    font-size: 16px;
    margin-bottom: 15px;
}

.contact-card button {
    background: #24A4F8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-card button:hover {
    background: #24A4F8;
}

.footer {
    background: #24A4F8;
    color: white;
    padding: 40px 20px;
    margin-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}


.social-icons i {
    font-size: 18px;
    margin-right: 10px;
    color:white ;
}

.footer-links {
    display: flex;
    gap: 90px;
}

.footer-links h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

select {
    padding: 10px;
    font-size: 13px;
    border:none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    top: -8px;
}

select:focus {
    outline: none;
    
}